@use "./styles/partials/reset" as *;
@use "./styles/partials/mixins"as *;
@use "./styles/partials/variables"as *;



.Header{
    height: 120px;
    width: 100%;
    position: relative;

    @include tablet{
        height: 120px;
        width: 100%;
        position: relative;
        color: cyan
    }

    @include desktop{
        height: 120px;
        width: 100%;
        position: relative;
        color: red;
    }
}


.Footer{
    height: 120px;
    width: 100%;
    position: relative;


    @include tablet{
        height: 120px;
        width: 100%;
        position: relative;
        color: cyan
    }

    @include desktop{
        height: 120px;
        width: 100%;
        position: relative;
        color: red;
    }  // @include tablet{

    // }
}

