.Home-Fav-Sets{
    
    &-Top-heading{
        display: flex;
    }

    &-Top-Heading-Right{
        display: flex;
        justify-content: flex-end;
    }
    
    &-Top-Heading-Left{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}