.Footer-Bar{
    background-color: royalblue;
    position: relative;

    &-Socials{
        height: 121px;
        align-items: center;
        background: url(../../assets/logo/footerLogo.png) no-repeat scroll center;
    }

    &-Socials__Links{
        display: inline-block; 
        margin: 0 2px;
        color: white;
        font-weight: bold;
        font-size: 18px;
        text-decoration: none;
        text-align: center;
        line-height: 29px;
        min-width: 75px;
        padding: 0 4px;
        border: 1px solid white;
        border-top: none;
        border-radius: 5px;
        border-top-right-radius: 0;
        border-top-left-radius: 0;
    }
    
}